    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p><span style="font-weight : lighter;">소속</span>
                  : 콘텐츠브릿지 ( Contents Bridge )</p>
                <p><span style="font-weight : lighter;">Education</span>
                  : 한양사이버대학교 ( Hanyang Cyber University )</p>
                <p><span style="font-weight : lighter;">Email</span>
                  : pink0104040@gmail.com</p>
                <p><span style="font-weight : lighter;">Skills</span>
                  : Network, Server, Cloud</p>
                <br/>
              </div>
        </div>
    </section>
